* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html {
    font-size: 10px;
}

body {
    background: url(../images/bg.jpg) bottom center;
    background-size: cover;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    width: 10rem;
    border: .4rem solid #000;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem #000;
    -webkit-transition: all 0.07s ease;
    -moz-transition: all 0.07s ease;
    transition: all 0.07s ease;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem .4rem;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}